Release/
dist/
srcs.mk
vars.mk
targets.mk
.vscode/*
Test/ceedling/build/*
Test/ceedling/src/*
!Test/ceedling/src/.gitkeep
Test/ceedling/test/*.c
Test/ceedling/test/*.h

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pydevproject

.settings/
.cproject
